/* Global properties (desktop view) */
html{
    background-color: #3b4252;
    font-family: "Source Sans 3","Oswald", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

body{
    color: white;
}

.header-container{
    min-height: 100px;
    /* position: fixed; */
    width: 100%;
}

header{
    max-width: 1024px;
    min-height: 100px;
    background-color: #000000;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    background-color: aliceblue;
    max-width: 1024px; /* web view */
    min-height: 300px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* outline: solid 1px red; */
}

.logo{
    padding-left: 30px;
}

.important{
    font-weight: bold;
}

nav a{
    margin-left: 20px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 10px;
}

.col{
    /* background-color: blue; */
    width: 30%;
    margin: 10px
}

.col img{
    width: 100%;
    height: auto;
}

.col p{
    color: #000;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.25rem;
}

/* Access to firs line of an element (different to access first child) */
.col p::first-line{
    font-weight: bold;
}

footer{
    min-height: 200px;
    background-color: #0000006d;
    margin-top: 10px;
}

/* Responsive Design */
/* tablet view */
@media (max-width:768px){
    .col{
        width: 45%;
    }

    header{
        display: block;
        text-align: center;
    }

    .header-container{
        position: relative;
    }

    .logo{
        padding: 40px 0;
    }

    nav a{
        display: block;
    }
}

/* mobile view */
@media (max-width:400px){
    .col{
        width: 100%;
    }
    /* Hide boxes depending on view size */
    .hide-col{
        display: none;
    }

    header{
        display: block;
        text-align: center;
    }

    .header-container{
        position: relative;
    }

    .logo{
        padding: 40px 0;
    }

    nav a{
        display: block;
    }
}