h1{
    color: brown;
}

/* Responsive Design */
/* tablet view */
@media (max-width:768px){
    h1{
        color: blue;
    }
}

/* mobile view */
@media (max-width:400px){
    h1{
        color: chartreuse;
    }
}